<div class="row-fluid quiz">
    <div class="span12 question">
        <h3 class="text-center"><%= question.text%></h4>
    </div>
    
    <div class="row-fluid">
        <p class="text-center">Select the correct word</p>
    </div>
        
    <div class="row-fluid answer">    
    	<div class="span6 btn">
            <h4><%= question.answers[0].text %></h4>
        </div>
        <div class="span6 btn">
            <h4><%= question.answers[1].text %></h4>
        </div>
    </div>

    <div class="row-fluid answer">
        <div class="span6 btn">
            <h4><%= question.answers[2].text %></h4>
        </div>
        <div class="span6 btn">
            <h4><%= question.answers[3].text %></h4>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="progress progress-success">
      <div class="bar" style="width: 40%"></div>
    </div>
</div>